#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  margin-top: 1rem;
  width: 300px;
}

table,
tbody {
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}


table,
tbody,
td {
  padding: auto 1rem;
  width: 300px;
}

table,
thead,
tr {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}